*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0,0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    padding: 8px 25px;
    color: white;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow:0px 0px 10px blanchedalmond;
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0,0.5);
    color: white;
    height: 840px;
}
#home::before{
    content: "";
    top: 0;
    right: 0;
    position: absolute;
    height: 900px;
    width: 100%;
    opacity: 0.8;
    background: url("https://wallpapercave.com/wp/wp1936396.jpg") no-repeat center center/cover;
    z-index: -1;
}
.main{
    display: flex;
    flex-direction: column;
    top: 30%;
    right: 10%;
    position: absolute;
    align-items: center;
}
.headings{
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
    animation: headings 1s ease-in-out infinite alternate;
}
@keyframes headings {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #272526, 0 0 40px #161516, 0 0 50px #0a0a0a, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #1f1d1d, 0 0 50px #050505, 0 0 60px #251212, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
.btn{
    background: transparent;
    border-color: white;
    color: white;
    padding: 10px 35px;
    outline: none;
    transition: 0.6 ease;
}
.btn:hover{
    background: white;
    color: black;
    box-shadow:0px 0px 5px white,0px 0px 10px white,0px 0px 15px white;
    font-weight: bold;
}
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    background: url(assets/current.jpg);
    color: rgb(255, 254, 254);
    font-weight: bold;
    font-size: 1.3rem;
}
.pic{
    display: flex;;
}
.pic img{
    width: 575px;
    height: 400px;
}
.intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
.intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
#portfolio{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(0,0,0,0.9);
    color: white;
    align-items: center;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}
#services{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(245, 188, 167);
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 350px;
    height: 450px;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, red 50%,white 50%);
    background-size: 100% 200%;
    transition: all 0.8s;
}
.box:hover{
    border: none;
    background-position: left bottom;
    color: white;
    box-shadow: rgb(255, 45, 45);
}
.box img{
    width: 80px;
    height: 80px;
    background-color: white;
    padding: 10px;
}